// Navigation Styles here
.navigation-container {
	border-bottom: 2px dashed #c0c0c0;
}

.navigation {
	max-width: 800px;
	width: 100%;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	nav {
		a {
			color: #000;
			text-decoration: none;
			font-size: 1.5rem;
			margin-left: 15px;
		}
	}
}
