// Navigation Styles here
.navigation {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin: 20px 0;
	padding: 20px 0;
	nav {
		display: flex;
		justify-content: space-between;
		width: 45%;
		a {
			color: black;
			text-decoration: none;
			font-size: 1.6rem;
			font-weight: 600;
		}
	}
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.navigation-container {
	border-bottom: 2px dashed @navigation-border;
}
